[Desktop Entry]
Encoding=UTF-8
Name=Adblock
Name[am]=ማስታወቂያ መከልከያ
Name[ca]=Adblock
Name[da]=Reklameblokering
Name[de]=Adblock
Name[el]=Adblock
Name[es]=Bloquear-propaganda
Name[fr]=Stop Pub
Name[hr]=Adblock
Name[is]=Auglýsingabann
Name[it]=Blocco della pubblicità
Name[nl]=advertentie-block
Name[pt]=Bloquear publicidade
Name[pt_BR]=Bloquear publicidade
Name[sv]=annonsblockerare
Name[tr]=reklam-engelleme
Comment=Block adverts via /etc/hosts file
Comment[am]=ማስታወቂያ መከልከያ በ /etc/hosts file
Comment[ca]=Bloqueja publicitat amb el fitxer /etc/hosts
Comment[da]=Bloker reklamer via /etc/hosts-fil
Comment[de]=Blockiert Werbung über die Datei /etc/hosts
Comment[el]=Αποκλεισμός διαφημίσεις μέσω αρχείο /etc/hosts
Comment[es]=Bloquear-propaganda via el /etc/hosts
Comment[fr]=Bloque les publicités via le fichier /etc/hosts
Comment[hr]=blokiraj reklame putem /etc/hosts datoteke
Comment[is]=Loka á auglýsingar o.þ.h. með /etc/hosts skrá
Comment[it]=Blocca la pubblicità mediante il file /etc/hosts
Comment[nl]=Blokkeer advertenties middels /etc/hosts bestand
Comment[pt]=Bloqueia publicidade via ficheiro /etc/hosts
Comment[pt_BR]=Bloqueia publicidade via ficheiro /etc/hosts
Comment[sv]=Blockera annonser via /etc/hosts fil
Comment[tr]=/etc/hosts dosyası aracılığıyla reklamları engelle
Exec=pkexec hblock
Icon=arcolinux-advert-block
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
NoDisplay=False
